<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head_part.html" %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% include "sidebar_part2.html" %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include "topbar_part.html" %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Domain: {{ domain.name }}</h1>
                </div>

                <div class="row">
                    <div class='container-fluid'>
                        {% for yr, sprints in domain.sprints_map %}
                            <div class="wrapper">
                                <div class="header">
                                    <h2>{{ yr }}</h2>
                                </div>
                                <div class="gantt">
                                    <div class="gantt__row gantt__row--months">
                                        <div class="gantt__row-first"></div>
                                        {% for sprint in sprints %}
                                            <span>{{ sprint }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="gantt__row gantt__row--lines" data-month="5">
                                        {% for sprint in sprints %}
                                            <span></span>
                                        {% endfor %}
                                    </div>
                                    {% for initiative in domain.initiative_set.all %}
                                        <div class="gantt__row">
                                            <div class="gantt__row-first">
                                                {{ initiative }}
                                            </div>
                                            <ul class="gantt__row-bars">
                                                {% for year, st in initiative.sprint_style.items %}
                                                    {% if year == yr %}
                                                        <li style="{{ st }}">
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>


            <!-- End of Main Content -->

        </div>
        {% include "footer_part.html" %}


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include "modals_and_scripts_part.html" %}


</body>

</html>