<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head_part.html" %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% include "sidebar_part2.html" %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include "topbar_part.html" %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Tribes</h1>
                </div>

                <div class="row">
                    {% for tribe in tribe_list %}

                        <div class="col-lg-6">

                            <div class="card shadow mb-4">
                                <div class="d-block card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">{{ tribe.name }}</h6>
                                    <br>
                                    <a href="#collapse_{{ tribe.pk }}" class="btn btn-primary btn-icon-split"
                                       data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapse_{{ tribe.pk }}">
                                                <span class="icon text-white-50">
                                                    {{ tribe.initiatives_count }}
                                                </span>
                                        <span class="text">Initiatives</span>
                                    </a>
                                    <a href="#" class="btn btn-info btn-icon-split">
                                                <span class="icon text-white-50">
                                                    {{ tribe.squad_count }}
                                                </span>
                                        <span class="text">Squads</span>
                                    </a>
                                   <div class="collapse hide" id="collapse_{{ tribe.pk }}">
                                        {% for i in tribe.domain_set.all %}
                                            <div class="card-body bg-primary text-white shadow py-3">
                                                <div>
                                                    <a href="/domains/{{ i.pk }}"
                                                       class="btn btn-primary btn-icon-split">
                                                        <span class="text">{{ i }}</span>
                                                    </a>
                                                    {% for s in i.squad_set.all %}
                                                        <a href="#" class="btn btn-info btn-icon-split">
                                                            <span class="text">{{ s|default_if_none:"No" }} Squad</span>
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include "footer_part.html" %}


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "modals_and_scripts_part.html" %}


</body>

</html>